// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:hover, a:visited{
	background-color: transparent;
	color: #007bff;
	text-decoration: none;
}

p.card-text{
	font-size: 15px;
}

.nav-item-der {
	margin-right: 15px;
}

.box-title {
	background-color: rgba(150,150,150,0.6);
}